*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blog{
  max-width: 760px;
  margin: 0 auto;
  border: 5px #000 solid;
}
.blog h1{
  font-size: 64px;
}
.blog img{
  display: block;
  max-width: 80%;
}
